// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

body {
  background: #e2ebf3;
}

.container {
  width: 600px;
  margin: 15px auto;
}
ul {
  list-style: none;
}
.load {
  border-left: 4px solid black;
}

small {
  color: red;
  position: absolute;
  margin-top: -15px;

}

.fail {
  border-left: 4px solid red;
}
.pass {
  color: green;
}

span {
  color: brown;
}